.containerNavBarTop {
  display: grid;
  grid-template-columns: 200px 8fr;
  grid-template-rows: 1fr;

  height: auto;
  width: 100%;

  margin: auto;
  /* border: solid rgb(255, 255, 255); */
}

.navBarContPart1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 80px;
  margin: auto;
  border: solid rgb(255, 255, 255);
}

.logo img {
  transition: all 0.3s ease;

  margin: auto;
  background-size: cover;

  overflow: hidden;
}

.logo img:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.containerNavBarRoute {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: auto;
  width: 100%;
  margin: 0%;
  /* border: solid rgb(136, 255, 0); */
}
.allRouteBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  transition: all 0.5s ease-in-out;

  width: auto;
  margin: 0px 10px;
  padding: 5px 15px 5px 15px;

  font-size: 20px;

  border-radius: 10px;

  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}

.allRouteBtn:hover {
  transform: scale(1.05);

  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
}

.containerSearchBar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.containerBackBtn {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;
  width: 100%;
  margin: 0px 15px 15px 0;
}

@media screen and (max-width: 1225px) {
  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 80px;
    margin-top: 10px;
    border: solid rgb(255, 255, 255);
  }
  .containerNavBarTop {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;

    align-items: center;
    justify-content: center;
  }
}
