/* Page Create Recipe */
.containerPage {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 0.5fr 8.3fr 0.2fr;
  background-size: contain;

  height: 100%;
  width: 100%;

  /* border: solid white; */
  background-color: rgb(255, 255, 255);
}
/* Nav Bar */
.containerNavBarTop {
  display: grid;
  grid-template-columns: 9.5fr 0.5fr;
  grid-template-rows: 1fr;
  align-items: center;
  height: 100px;
  width: 100%;

  background-color: #b1cd2a;
  border-bottom: ridge #b1cd2a;
}

.containerBackBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;

  margin: 5px;
  right: -5px;
  top: 20px;

  overflow: hidden;
}

.backBtn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-decoration: none;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  transition: all 0.3s ease;
  background-size: contain;

  height: 50px;
  width: 20px;
  padding-left: 10px;
  font-size: 40px;
  -webkit-text-stroke: 2px #b1cd2a;

  border-radius: 35px 0 0 35px;

  color: #b1cd2a;
  background-color: rgb(0, 0, 0);
  overflow: hidden;
}

.backBtn:hover {
  width: 75px;
  transform: scale(1.025);
  color: rgb(255, 255, 255);
  -webkit-text-stroke: 2px rgb(255, 255, 255);
  background-color: rgb(185, 25, 1);
}
/* Elementos */
.labelPage {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 50px;
}

.containerForm {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: auto;
  width: 100%;
  padding: 0 30px;
}

.containerInfoRecipe {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 100%;
}

.containerGridLeft {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  height: 100%;
  width: 100%;
  padding: 10px 20px;
  margin: 0;
}

.containerGridRigth {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  height: 100%;
  width: 100%;
  padding: 10px 20px;
  margin: 0;
}

.containerGridRigth_Diet_HS {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-top: 10px;
}

.containerNameRecipe {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 10px 0 10px 0px;
}

.containerNameRecipe h3 {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 5px 0;
}

.containerNameRecipe input {
  font-family: cursive;
  font-size: large;

  height: 35px;
  width: 100%;
  padding-left: 5px;

  border-radius: 5px;
  border: ridge grey;
}

.containerNameRecipe p {
  position: absolute;
  margin-top: 67px;
}

.containerSummaryRecipe {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-bottom: 15px;
}

.containerSummaryRecipe h3 {
  margin: 5px 0;
}

.containerSummaryRecipe textarea {
  font-family: cursive;
  font-size: large;

  max-width: 100px;
  min-width: 100%;
  min-height: 200px;
  max-height: 200px;
  padding-left: 5px;

  border-radius: 5px;
  border: ridge grey;
}
.containerSummaryRecipe p {
  position: absolute;
  margin-top: 232px;
}

.containerInstructionRecipe {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 9fr 1fr;
  height: 350px;
  width: 100%;
}

.containerInstructionInputs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  height: auto;
  width: 100%;
  overflow: hidden;
}

.containerInstructionRecipe ol {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-top: 10px;
  height: auto;
  width: 100%;
  border-radius: 5px;
  border: ridge grey;
  overflow: auto;
}
.containerInstructionRecipe ol li {
  display: flex;
  flex-direction: row;
  align-items: start;
  height: auto;
  width: 100%;
  background-color: black;
}

.containerInstructionRecipe textarea[type="text"] {
  font-family: cursive;
  font-size: large;

  height: 25px;
  min-height: 25px;
  width: 100%;
  padding-left: 5px;
  margin: 0px;

  border-radius: 5px;
  border: 0.5px ridge rgb(0, 0, 0);
}

.containerInstructionRecipe input[type="button"] {
  display: flex;
  align-items: center;
  justify-content: center;

  color: rgb(185, 25, 1);
  font-size: 15px;
  -webkit-text-stroke: 2px rgb(185, 25, 1);

  height: 25px;
  width: 20px;

  border-radius: 5px;
  border: 0.5px ridge rgb(0, 0, 0);
  transition: all 0.1s ease;
}

.containerInstructionRecipe input[type="button"]:hover {
  color: rgb(255, 255, 255);
  font-size: 14px;
  -webkit-text-stroke: 2px rgb(255, 255, 255);

  background-color: rgb(185, 25, 1);
  transform: scale(0.98);
  cursor: pointer;
}

.buttonAddInstruction {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 100%;
}

.buttonAddInstruction input[type="button"] {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  transition: all 0.3s ease;
  background-size: contain;

  height: 35px;
  width: 150px;
  padding: 5px;
  font-size: 20px;
  -webkit-text-stroke: 0.5px #b1cd2a;

  border-radius: 10px;

  color: #b1cd2a;
  background-color: rgb(0, 0, 0);
  white-space: nowrap;
}
.buttonAddInstruction input[type="button"]:hover {
  transform: scale(1.025);

  color: rgb(255, 255, 255);
  -webkit-text-stroke: 2px rgb(255, 255, 255);
  background-color: rgb(0, 53, 102);
}

.containerImage {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.containerImage h3 {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 10px 0;
}

.imageReg {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 250px;
  width: 350px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: ridge gray;
  background-color: rgba(0, 0, 0, 0.349);
  overflow: hidden;
}

.containerImage img {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  color: royalblue;
  height: 100%;
  width: 100%;
  background-size: cover;
  overflow: hidden;
}

.containerImage input {
  width: 100%;
  padding-left: 5px;

  font-size: 20px;
  border-radius: 5px;

  border: ridge grey;
}

.containerCheckbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: f;

  height: 335px;
  width: 225px;

  border: ridge gray;
  border-radius: 10px;
}

.containerCheckbox h3 {
  display: flex;
  align-items: center;
  margin: 0px 0px 10px 0px;
  font-size: 20px;
}

.dietsLabel {
  display: flex;
  align-items: center;

  width: 200px;
  margin: 2px 5px 2px 10px;
}

.dietsLabel input {
  margin-right: 10px;
  border-radius: 50%;
}

.containerHealthScore {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  height: 335px;
  width: 225px;
  margin-left: 50px;
  border: ridge gray;
  border-radius: 10px;
}

.healthScore {
  appearance: slider-vertical;
  width: 20px;
  height: 300px;
  margin: 10px;
  border: ridge gray;
  border-radius: 10px;
}
.containerButtonCreate {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: auto;
}

.containerButtonCreate button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  transition: all 0.3s ease;
  background-size: contain;

  height: 35px;
  width: 150px;
  padding: 5px;
  font-size: 20px;
  -webkit-text-stroke: 0.5px #b1cd2a;

  border-radius: 10px;

  color: #b1cd2a;
  background-color: rgb(0, 0, 0);
  white-space: nowrap;
}
.containerButtonCreate button:hover {
  transform: scale(1.025);

  color: rgb(255, 255, 255);
  -webkit-text-stroke: 2px rgb(255, 255, 255);
  background-color: rgb(0, 53, 102);
}

.containerFooter {
  display: flex;
  height: 40px;
  background-color: rgba(23, 23, 23);
}
