.containerPage {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 0.2fr 8.8fr;

  height: 100%;
  width: 100%;

  /* border: solid white; */
  background-color: rgb(255, 255, 255);
}

.containerNavBarTop {
  display: grid;
  grid-template-columns: 9fr 1fr;
  grid-template-rows: 1fr;

  background-color: #b1cd2a;
}

.containerBackBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
}

.backBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  transition: all 0.3s ease;
  background-size: contain;

  height: 50px;
  width: 130px;
  font-size: 50px;
  -webkit-text-stroke: 2px #b1cd2a;

  border-radius: 20px;

  color: #b1cd2a;
  background-color: rgb(0, 0, 0);
}

.backBtn:hover {
  transform: scale(1.025);

  color: rgb(255, 255, 255);
  -webkit-text-stroke: 2px rgb(255, 255, 255);
  background-color: rgb(0, 53, 102);
}
.labelPage {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 75px;
}
.containerForm {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 9fr 1fr;
  height: auto;
  width: 100%;
  margin: 0 auto;
  padding: 50px;
  position: relative;
  border: solid red;
}
.containerInfoRecipe {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.containerGridLeft {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 50px;
}

.containerGridRigth {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.containerCheckbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  height: 320px;
  width: 225px;
  border: solid yellowgreen;
}

.containerCheckbox h3 {
  margin: 10px 0;
}

.dietsLabel {
  display: flex;
  align-items: center;

  width: 200px;
  margin: 2px 0;
  margin-left: 5px;
}
.dietsLabel input {
  margin-right: 10px;
  border-radius: 50%;
}

.healthScore {
  appearance: slider-vertical;
  width: 20px;
  height: 200px;
}

.instrucction {
  display: flex;
}
