.detailContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.8fr 0.4fr 8.6fr 0.2fr;

  height: 100%;
  width: 100%;
  min-width: 550px;
  padding: 0%;
  margin: 0%;

  /* border: solid white;
  background-color: rgb(255, 255, 255); */
  background-color: #edf1f4;
  overflow: hidden;
}

.containerNavBarTop {
  display: grid;
  grid-template-columns: 9fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  height: 100px;
  width: 100%;
  background-color: #46200a;
}

.containerBackBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  position: absolute;
  right: -5px;
  top: 20px;

  overflow: hidden;
}

.backBtn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-decoration: none;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  transition: all 0.3s ease;
  background-size: contain;

  height: 50px;
  width: 20px;
  padding-left: 10px;
  font-size: 40px;
  -webkit-text-stroke: 2px #46200a;

  border-radius: 35px 0 0 35px;

  color: #46200a;
  background-color: rgb(0, 0, 0);
  overflow: hidden;
}

.backBtn:hover {
  width: 75px;
  transform: scale(1.025);
  color: rgb(255, 255, 255);
  -webkit-text-stroke: 2px rgb(255, 255, 255);
  background-color: rgb(185, 25, 1);
}
.dataVarTop {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  color: aliceblue;
  background-color: rgb(23, 23, 23);
}
.dataVarTop span {
  font-family: cursive;
  -webkit-text-stroke: 0.5px;
  margin: 10px;
}

.dataVarTop button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80%;
  width: auto;
  font-size: 25px;
  background-color: rgb(23, 23, 23);
}

.redColor {
  color: rgb(250, 40, 40);
  -webkit-text-stroke: 0.5px rgb(250, 40, 40);
}

.orangeColor {
  color: rgb(255, 128, 0);
  -webkit-text-stroke: 0.5px rgb(255, 128, 0);
}

.greenColor {
  color: rgb(6, 223, 6);
  -webkit-text-stroke: 0.5px rgb(67, 129, 67);
}

.containerDetail {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-content: center;

  height: auto;
  width: 100%;
  margin-bottom: 10px;

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  overflow: auto;
}

.containerDetailPart1 {
  display: grid;
  grid-template-columns: 4fr 6fr;
  grid-template-rows: 1fr;
  height: 100%;
  width: 100%;
}
.containerImage {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  min-width: 600px;
  padding: 20px;
}
.recipeImage {
  height: auto;
  width: 100%;
  background-size: contain;
  border-radius: 15px;
  border: 4px ridge grey;
  overflow: hidden;
}
.containerInfoRecipePart1 {
  /* display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column; */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 1.5fr 0.5fr;
  height: 100%;
  width: 100%;
}
.containerName {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  white-space: nowrap;
  font-size: 18px;
  height: 100%;
  width: 100%;
}
.containerSummary {
  display: flex;
  align-items: center;
  text-align: justify;

  height: auto;
  width: 100%;
  padding-right: 30px;
  padding-left: 20px;
}
.containerDiets {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr;

  height: 100%;
  width: 100%;
  padding-right: 35px;
  padding-left: 10px;
}
.containerDiets h2 {
  padding-left: 10px;
  display: flex;
  align-items: center;
  justify-content: start;
}

.allDiets {
  display: flex;
  align-items: center;
  justify-content: space-around;

  height: 100%;
  width: 100%;
  margin: 0px 10px;
  border-radius: 10px;
  border: ridge grey;
}

.diets {
  margin: 7.5px;
}

.containerDetailPart2 {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr;
  height: 100%;
  width: 100%;
}
.containerDetailPart2 h2 {
  padding-left: 30px;
  display: flex;
  align-items: center;
  justify-content: start;
}
.allInstrucctions {
  display: flex;
  align-items: center;
  text-align: justify;

  height: auto;
  width: 100%;

  padding-right: 35px;
  padding-left: 40px;
  padding-bottom: 7.5px;
}
