.detailContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 0.3fr 8.5fr 0.2fr;

  height: 100%;
  width: 100%;
  padding: 0%;
  margin: 0%;

  /* border: solid white;
  background-color: rgb(255, 255, 255); */
  overflow: hidden;
}

.containerNavBarTop {
  display: grid;
  grid-template-columns: 9fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  height: 100px;
  width: 100%;
  background-color: #46200a;
}

.containerBackBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  position: absolute;
  right: -5px;
  top: 20px;

  overflow: hidden;
}

.backBtn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-decoration: none;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  transition: all 0.3s ease;
  background-size: contain;

  height: 50px;
  width: 20px;
  padding-left: 10px;
  font-size: 40px;
  -webkit-text-stroke: 2px #46200a;

  border-radius: 35px 0 0 35px;

  color: #46200a;
  background-color: rgb(0, 0, 0);
  overflow: hidden;
}

.backBtn:hover {
  width: 75px;
  transform: scale(1.025);
  color: rgb(255, 255, 255);
  -webkit-text-stroke: 2px rgb(255, 255, 255);
  background-color: rgb(185, 25, 1);
}
.dataVarTop {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  color: aliceblue;
  background-color: rgba(23, 23, 23);
}
.dataVarTop span {
  font-family: cursive;
  -webkit-text-stroke: 0.5px;
  margin: 10px;
}

.redColor {
  color: rgb(250, 40, 40);
  -webkit-text-stroke: 0.5px rgb(250, 40, 40);
}

.orangeColor {
  color: rgb(255, 128, 0);
  -webkit-text-stroke: 0.5px rgb(255, 128, 0);
}

.greenColor {
  color: rgb(6, 223, 6);
  -webkit-text-stroke: 0.5px rgb(67, 129, 67);
}

.containerDetail {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;

  border: solid rgb(65, 35, 129);
  overflow: hidden;
}

.containerDetailPart1 {
  display: grid;
  grid-template-columns: 4fr 6fr;
  grid-template-rows: 1fr;
  height: 100%;
  width: 100%;
  border: solid #46200a;
}
.containerImage {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  width: 100%;
  min-width: 600px;
}
.recipeImage {
  background-size: cover;
  height: auto;
  width: 100%;
  border: solid #460a0a;
}
.containerInfoRecipePart1 {
  /* display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column; */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 1.5fr 0.5fr;
  height: 100%;
  width: 100%;
  border: solid green;
}
.containerName {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  border: solid red;
}
.containerSummary {
  display: flex;
  align-items: center;
  text-align: justify;

  height: auto;
  width: 100%;
  padding-right: 30px;
  padding-left: 30px;
  border: solid red;
}
.containerDiets {
  display: grid;
  grid-template-columns: 0.5fr 4.5fr;
  grid-template-rows: 1fr;
  white-space: nowrap;

  height: 100%;
  width: 100%;
  padding-right: 15px;
  padding-left: 10px;
}

.allDiets {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  width: 100%;
}

.diets {
  white-space: nowrap;
  margin: 7.5px;
}
