.page {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;

  height: 100%;
  width: 100%;

  /* background-image: url("https://img.freepik.com/fotos-premium/mesa-madera-vacia-fondo-interior-borroso-cafeteria-o-restaurante-puede-utilizar-exhibicion-producto_7188-1500.jpg"); */
  background-color: #e5e5e5;

  overflow: hidden;
}

.contLanding {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;

  height: 80%;
  width: 80%;

  background-color: rgb(27, 51, 74);

  border-radius: 50px;
  overflow: hidden;
}

.navBarContainer {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr;

  align-items: center;

  width: 100%;
  height: 10%;

  border: solid red;
  background-color: rgba(240, 248, 255, 0);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.logo {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;

  height: 80px;
  width: 80px;
  margin-left: 10px;

  /* overflow: hidden; */
}

.logo img {
  transition: all 0.5s ease;

  background-size: cover;

  overflow: hidden;
}

.logo img:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.route {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 40px;
  width: 100px;
  margin-right: 10px;

  text-decoration: none;

  border: solid green;
  color: rgb(229, 229, 229);
}

.btnHome {
  display: flex;
  position: absolute;
  text-align: center;
  align-items: center;

  font-size: xx-large;
  color: rgb(255, 195, 0);
}
