.continer_Card .link {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 4fr 5fr;
  font-family: cursive;
  /* flex-direction: column;
  align-items: center;
  justify-content: flex-start; */

  height: 550px;
  width: 300px;
  margin: 5px;

  background-color: rgba(7, 7, 10, 0.9);
  /*border: solid yellow;*/
}

.continer_Card .link:hover {
  background-color: rgba(23, 23, 23);
}

.healthScoreText {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
  margin: 5px 10px;

  /*color: rgb(220, 220, 220);*/
  /*-webkit-text-stroke: 0.5px rgb(6, 255, 39);*/
}

.redColor {
  color: rgb(250, 40, 40);
  -webkit-text-stroke: 0.5px rgb(250, 40, 40);
}

.orangeColor {
  color: rgb(255, 128, 0);
  -webkit-text-stroke: 0.5px rgb(255, 128, 0);
}

.greenColor {
  color: rgb(6, 223, 6);
  -webkit-text-stroke: 0.5px rgb(6, 223, 6);
}

.contImageName h2 {
  font-family: cursive;
  font-size: large;
  margin: 5px 10px;
  color: rgb(255, 255, 255);
}

.contImageName h2:hover {
  color: #b1cd2a;
  -webkit-text-stroke: 0.5px #b1cd2a;
}
.contImageName img {
  width: 90%;
  border-radius: 15px;
  transition: all 0.3s ease;

  margin: auto;
}

.contImageName img:hover {
  transform: scale(1.025);
}

.dietsName {
  display: flex;
  flex-direction: column;
  color: #02729e;

  margin: -10px 5px;
  overflow: auto;
}

.dietsName h2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  width: 90%;

  font-size: 17px;
  margin-left: 25px;
}
.dietsName h1 {
  display: flex;
  margin: 5px 10px;
}
