.containerFilterBar {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  height: 100%;
  width: 100%;
}

.containerFilter {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  height: 100%;
  width: 100%;
}

.containerFilterOrigen select {
  display: flex;
  align-items: center;
  justify-content: center;

  transition: all 0.3s ease;

  height: 35px;
  width: 150px;
  margin: 0 10px;
  padding-left: 5px;

  font-size: 19px;
  text-decoration: none;
  -webkit-text-stroke: 0.2px #edf1f4;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  border-radius: 10px;

  color: #edf1f4;
  background-color: rgba(23, 23, 23);
  border: 3px ridge grey;
}

.containerFilterDiets select {
  display: flex;
  align-items: center;
  justify-content: center;

  transition: all 0.3s ease;

  height: 35px;
  width: 210px;
  margin: 0 10px;
  padding-left: 5px;

  font-size: 19px;
  text-decoration: none;
  -webkit-text-stroke: 0.2px #edf1f4;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  border-radius: 10px;

  color: #edf1f4;
  background-color: rgba(23, 23, 23);
  border: 3px ridge grey;
}

.containerFilter_Alfabeto select {
  display: flex;
  align-items: center;
  justify-content: center;

  transition: all 0.3s ease;

  height: 35px;
  width: 250px;
  margin: 0 10px;
  padding-left: 10px;

  font-size: 19px;
  text-decoration: none;
  -webkit-text-stroke: 0.2px #edf1f4;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  border-radius: 10px;

  color: #edf1f4;
  background-color: rgba(23, 23, 23);
  border: 3px ridge grey;
}

.containerFilter_HealthScore select {
  display: flex;
  align-items: center;
  justify-content: center;

  transition: all 0.3s ease;

  height: 35px;
  width: 250px;
  margin: 0 10px;
  margin-right: 20px;
  padding-left: 10px;

  font-size: 19px;
  text-decoration: none;
  -webkit-text-stroke: 0.2px #edf1f4;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  border-radius: 10px;

  color: #edf1f4;
  background-color: rgba(23, 23, 23);
  border: 3px ridge grey;
}
select:hover {
  cursor: pointer;
  color: rgb(255, 195, 0);
  -webkit-text-stroke: 1px rgb(255, 195, 0);
  box-shadow: 3px 2px 8px rgba(255, 196, 0, 0.7);
}

@media screen and (max-width: 1225px) {
  .containerFilterBar {
    display: grid;
    grid-template-columns: 0fr;
    justify-content: center;
    margin-top: 20px;
  }
}
@media screen and (max-width: 800px) {
  .containerFilterBar {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .containerFilter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100%;
    width: 100%;
    margin-top: 10px;
  }
  .containerFilterDiets {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
  }
  .containerFilter_Alfabeto {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
  }
  .containerFilter_HealthScore {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
  }
}
